<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Pokedex</title>
</head>
<body>
    <div class="container">
        
        <div class="bg-primary text-white p-4 text-center">
            <img 
                src="{% static 'image2.jpg' %}" 
                alt="Pokedex Logo" 
                class="img-fluid"
                style="max-width: 500px; height: auto; display: block; margin: 0 auto;"
            >
        </div>

        {% if user.is_authenticated %}
           <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" style="background:none;border:none;color:#0d6efd;padding:0;cursor:pointer;">
        Salir </button></form>
        {% else %}
            <a href="{% url 'login' %}">Loguearse</a>
        {% endif %}
        
        {% block content %}{% endblock %}

    </div>
</body>
</html>
